{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <title>Talha Mirza</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body>
    {% include 'nav.html' %}

    {% block content %}{% endblock %}

    <script>
      
      var menu = document.getElementById('menu');
      var nav = document.getElementById('nav');
      var exit = document.getElementById('exit');

      menu.addEventListener('click', function(e) {
          nav.classList.toggle('hide-mobile');
          e.preventDefault();
      });

      exit.addEventListener('click', function(e) {
          nav.classList.add('hide-mobile');
          e.preventDefault();
      });

    </script>

  </body>
</html>