{% load staticfiles %}
<div class="container">
	<header>
		<div class="navbar">
			<a href="../" class="nav-brand">Talha Mirza</a>

			<a href="#" class="hide-desktop">
					<img src= "{% static 'images/hamburger.jpg' %}" class="menu" id="menu">
			</a>
		</div>
		<nav>
			<ul class="show-desktop hide-mobile" id="nav">
				<li class="exit-btn hide-desktop" id="exit"><img src="{% static 'images/cross.svg' %}"></li>
				<li><a href="../portfolio">Portfolio</a></li>
				<li class='about'><a href="../about/">About</a></li>
				<li class='contact'><a href="../contact/">Contact</a></li>
			</ul>
		</nav>
	</header>
</div>